@import "~src/mixins";
.container {
  border-radius: 5px 5px 0 0;
  background-color: #242424;
}

.huge-digital {
  @include digital-clock(chartreuse, darkolivegreen);
  font-size: xxx-large;
}

.hidden {
  visibility: hidden;
}
