/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: digital;
  src: url(assets/Digital_Dismay.otf) format("opentype");
}

body {
  background: black;
}
